.section {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;

  overflow-x: hidden;
  overflow-y: auto;

  /* Hide */
  pointer-events: none;
  /*visibility: hidden;*/
  display: none;
  opacity: 0;
  transform: translateX(-20px);
  transition: display 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}
.section.shown {
  pointer-events: auto;
  /*visibility: visible;*/
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: display 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf');
}

/*.btn-end.show-btn {
  position: absolute;
  bottom: 125px;
  visibility: visible;
}*/

/*.btn-end {
  visibility: hidden;
}*/



.title, h3 {
  font-family: 'Press Start 2P';
}

.title {
  font-size: 2.6em;
}

h2, h3 {
  text-align: center;
}

h3 {
  font-size: .80em;
}

.glyphicon-pencil:hover, .glyphicon-trash:hover{
  cursor: pointer;
  color: #db1e21;
  font-size: 1.2em;
  transition: all ease-in-out 300ms;
}

.first-letter {
  color: #eb6e1f;
}

#create, #openGameWindow, #reset, #btn-create, #btn-manage, #update {
  font-size: 1.25em;
  background-color: #eb6e1f;
  outline-style: none;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);
  transition: all ease-in-out 300ms;
}

#create:hover, #openGameWindow:hover, #btn-manage:hover, #btn-create:hover, #reset:hover, #update:hover {
  background-color: black;
  box-shadow: 0px 17px 20px -10px rgba(0,0,0,0.2);
  transform: translate(0px, -3px);
  outline-style: none;
}

#update {
  margin-left: 35px;
}

#openGameWindow {
  margin-top: 10px;
}

.treasure {
    text-align: center;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.container.main, #creation, #box-container {
  /*background: pink;*/
  margin: 0 auto;
  padding: 20px 0 0 60px;
}

.container.main {
  width: 350px;
}

img {
  width: 300px;
}

 #creation {
   width: 400px;
 }

#box-container {
  width: 900px;
  height: auto;
}

.inputs {
  display: block;
  margin: 10px 0 0 35px;
  /* margin-left: 40px; */
  /*outline: black; */
  font-size: 1.25em;
}

input:focus{
  outline-style: none;
}

.inputs, #groupName, #password1, #password2, #password3{
  border-radius: 5px;
  border: 2px solid black;
  padding-left: 5px;
}

label {
  font-size: 1.2em;
  margin-top: 15px;
  color: #eb6e1f;
}

tr, td {
  padding: 5px;
  font-size: 1.25em;
}

th:last-of-type {
  padding-left: 10px;
}

td:last-child {
  padding-left: 25px;
}

#top1, #top2, #top3, #top4 {
  display: inline-block;
}

div#top1, div#top3 {
    margin-left: 75px;
}

#top1, #top2, #top3 {
  margin-right: 50px;
}

/*swal styling*/
.swal-button {
  background-color: #eb6e1f;
  outline-style: none;
}
.swal-button:active {
  background-color: #000;
}

/* Edit List Styles */

li.editing label {
  display: none;
}

.editList li {
  list-style: none;
  display: block;

}

.glyphicon-ok-circle, .glyphicon-remove-circle {
  font-size: 1.6em;
  padding-left: 5px;
  vertical-align: text-bottom;
}

.glyphicon-ok-circle {
  color: #108C15;
}

.glyphicon-remove-circle {
  color: #db1e21;
}

li input {
  border-radius: 5px;
  border: 2px solid black;
  padding-left: 5px;
  margin-top: 10px;
}

li:last-child {
  margin-bottom: 20px;
}

li label {
  color: black;
}

li label:hover {
  cursor: pointer;
}

.glyphicon-ok-circle:hover, .glyphicon-remove-circle:hover {
  cursor: pointer;
  font-size: 1.7em;
  transition: all ease-in-out 100ms;
}
